h1{
    color: blue;
    background-color: aqua;
    text-align: center;
}
.cox{
    background-color: beige;

}
.author{
    color:brown;
}
#sent{
    text-align: center;
    background-color: darkkhaki;

}
.sundor{
  background-color: aquamarine;
}
.container{
border: 20px solid yellow;
border-radius: 45px;
margin: 20px 10px 30px 10px;
padding: 35px;

}
.container h3{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  font-size: 2em;
  text-align: center;

}
